SUPABASE_URL=https://vrdukbmbeuztozqtskhx.supabase.co
SUPABASE_SERVICE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZyZHVrYm1iZXV6dG96cXRza2h4Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MTU4NjI4MSwiZXhwIjoyMDk3MTYyMjgxfQ.F_uiaOZSx0z5HYj9xJxobTy8VsRW3ab6ocbPIcjZFw4
